# Root password for your database
# Change this
MYSQL_ROOT_PASSWORD=custom-root-password
# MYSQL_RANDOM_ROOT_PASSWORD=yes

# Database name, user and password for your wordpress
# Change these
MYSQL_DATABASE=drupal
MYSQL_USER=staging
MYSQL_PASSWORD=default

# Change this
SITE_URL=# localhost or docker machine host or production URI